<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
 <center> <img class="img" src="https://asset22.ckassets.com/resources/image/staticpage_images/01-07-Flipkart-Desktop%20(1)-1610344671.jpg" width="100%" height="50%" ></center>